*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-content {
    display: flex;
}

.list-social-media {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.second-content {
    position: absolute;
    display: none;
}



